/*CSS*/
@import "header.css";
@import "cards.css";
@import "mobile.css";

html, body {
    margin: 0;
    height: 100%;
}

#main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "cards"
    "footer";
    grid-gap: 10px;
    margin: 10px;
}

footer {
    grid-area: footer;
    background-color: #bcd2db;
    border-radius: 10px;
    padding: 10px;
}

h2 {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

p {
    color: #685206;
    font-style: normal;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: justify;
    text-justify: inter-word;
}

a {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

a:link {
    color: rgb(133, 168, 212);
}

a:visited {
    color: rgb(169, 171, 172);
}

a:hover {
    color: rgb(121, 165, 134);
}

a:active {
    color: rgb(53, 129, 123);
}

h3 {
    color: #111;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

h5 {
    color: #685206;
    font-style: normal;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

span {
    color: #685206;
    font-style: normal;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

.button {
    padding: 5px 15px;
    border: 0 none;
}

#input-botton {
    text-decoration: none;
    padding: 5px 15px;
    border: 0 none;
}