@media all and (min-width: 320px) and (max-width: 480px) {

    #cards-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "card"
        "card"
        "card"
        "card"
        "card"
        "card";
        grid-gap: 10px;
        height: fit-content;
        width: fit-content;
    }

    .card {
        background-color: #e1e2db;
        padding: 10px;
        border-radius: 10px;
    }

    .button {
        width: 90px;
        margin: 5px;
    }

}

@media all and (min-width: 320px) and (max-width: 480px){
    #post-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "left"
        "footer";
        grid-gap: 10px;
        height: fit-content;
        width: fit-content;
    }

    .right-collumn {
        display: none;
    }

    .main-header {
        text-align: center;
        margin-right: 10px;
    }

    footer {
        margin-right: 10px;
    }

}
