<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Post</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/main.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="left-collumn"></div>
        <aside class="right-collumn">
            <div class="about-card"></div>
            <div class="archives"></div>
            <div class="elsewhere"></div>
        </aside>
        <footer>
            <span>Copyright &copy;2021-2022. All rights reserved.</span>
        </footer>
    </body>
</html>